.detail_main {
  width: 70%;
  margin: 0 auto;
}

.detail_title {
  margin-top: 1rem;
  text-decoration: none !important;
  color: inherit !important;
  font-weight: bold;
}

/* .detailMain{
	padding-top: 3em;
	padding-left: 10em;
}  */

.detail_img {
  width: 15em;
  height: 15em;
  border-radius: 10px;
  margin-top: 0.5em;
  margin-right: 3em;
}

.detail_list {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

li.detail_list_item {
  display: flex;
  flex-basis: 35em;
  margin-bottom: 2em;
}

.map_area {
  display: flex;
}
.map {
  width: 80%;
  height: 550px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(173, 173, 173);
  /* border: 1px soild; */
  margin-bottom: 5%;
}

.location_icon {
  cursor: pointer;
}

.heart_icon {
  color: pink;
}

.heart_icon:hover {
  color: palevioletred;
}

/* main {
  margin-left: 25em;
}

.map_title {
  margin-top: 1em;
} */
